.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
gems
.DS_Store
node_modules
yarn-error.log
.rubocop-https---raw-githubusercontent-com-discourse-*
.eslintcache
