plugins:
  akismet_enabled:
    default: false
    shadowed_by_global: true
  akismet_api_key:
    default: ''
    shadowed_by_global: true
  akismet_transmit_email:
    default: true
  skip_akismet_trust_level:
    default: 1
    enum: 'TrustLevelSetting'
  skip_akismet_posts:
    default: 50

