.akismet-icon {
  display: inline-block;
}

.reviewable-akismet-post {
  .created-by {
    margin-right: 1em;
  }

  .reviewable-scores {
    width: 100%;
  }
}

.reviewable-item {
  .reviewable-meta-data {
    .reviewable-type {
      &.-akismet-flagged-post,
      &.-akismet-flagged-user {
        background-color: var(--danger-medium);
      }
    }
  }
}
