.admin-header{
  background:#EDEDED;
  padding:30px;
  margin-bottom:25px
}

table.spam-stats {
  margin-bottom: 1.5em;
}

table.akismet-queue {
  td {
    vertical-align: top;
  }
  .post-id { width:60px; }
  .poster { min-width: 200px; }
  .queue-actions {
    min-width: 250px;
    button {
      display: block;
      margin-bottom: 8px;
    }
  }
  .cooked {
    img {
      max-width: 200px !important;
      max-height: 100px !important;
    }
  }

}

h3.review-queue {
  margin: 1em 0 1em 0.5em;
}

.settings-button {
  margin-right: 10px;
}
